RewriteEngine On
RewriteRule /(\d+)/(\d+)/(.*?)\.html http://moved.macuyiko.com/moved_blog.php?y=$1&m=$2&slug=$3 [NC,L,R=301]
RewriteRule /p/(.*?)\.html http://moved.macuyiko.com/moved_blog.php?slug=$1 [NC,L,R=301]

