{% extends "base.html" %}
{% block content %}

<div style="margin-bottom: 0.5em;" class="article-title">Archives</div>

{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}	
	<h2>{{ year }}</h2>
	<table class="table-archive">
		<tbody>
		{% for article in date_year %}
			<tr>
			<td><time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.date.strftime('%d&nbsp;%B') }}</time> </td>
			<td><a href='{{ article.url }}'>{{ article.title }}</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endfor %}

{% endblock %}
